@model IEnumerable<MvcRegisterApp.Models.User>

@{
    ViewData["Title"] = "Список пользователей";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
